.App {
  background: #09122C;
}

.app-container {
  margin: 50px 100px;
  display: flex;
  flex-direction: column;
  min-height: 90vh; /* Ensures it takes the full viewport height */
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.non-footer {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .app-container {
    margin: 20px 12px !important;
  }
}

body {
  font-family: "Space Grotesk", serif;
  margin: 0;
  padding: 0;
  color: white;
}

header {
  font-size: 30px;
  margin-bottom: 50px;
}

a:active {
  color: #ee73f4;
}

a {
  transition: background-color 0.4s ease, color 0.2s ease;
}

a:hover {
  color: #ee73f4;
}

button:active {
  background: #ee73f4 !important;
}

button {
  transition: background-color 0.4s ease, color 0.2s ease;
}

button:hover {
  background: #ee73f4 !important;
}

@media screen and (max-width: 768px) {
  .home, .about, .projects, .resume {
    margin: 10px 12px !important;
  }
}

.tagline {
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

/* HEADER */

.header .desktop-nav {
  display: flex;
  gap: 1rem;
}

.header .logo-container {
  display: block;
  font-style: italic;
}

.header .logo {
  max-width: 150px;
}

.header svg {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .header .logo-container {
    display: none;
  }

  .header .desktop-nav {
    display: none; 
  }

  .header .mobile-nav {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    gap: 1rem;
    width: 100%;
    margin-top: 20px;
  }

  .header .mobile-nav hr {
    margin-top: 20px; 
    width: 80%; 
    border: 1px solid #fff;
  }
  .header svg {
    width: 40px;
    height: 40px;
  }
}

/* HOME SECTION */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
}

.home .tagline {
  font-size: 32px;
}

.home .content {
  display: flex; 
  width: 100%;
  flex-direction: row;
}

.home .text-container {
  margin-right: auto;
  width: 40%;
  text-align: left;
}

.home .image-container {
  width: 600px; 
  height: 450px; 
  overflow: hidden; 
  margin-left: 70px;
}

.home .image-container img {
  width: 100%;
  height: 100%; 
  object-position: center;
}

@media screen and (max-width: 768px) {
  .home {
    font-size: 32px; 
    text-align: center;
    padding: 20px 10px;
  }

  .home .content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .home .text-container {
    width: 80%;
    margin-right: 0 !important;
    text-align: center;
  }

  
  .home .image-container {
    width: 90%; 
    height: 300px;
    margin: 0;

  }

  .home .image-container img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    object-position: center;
  }

  .home .tagline {
    font-size: 24px; 
  }

  .home h1 {
    font-size: 40px; 
  }
}


/* ABOUT */
.about {
  display: flex;
  justify-content: center; 
  flex-direction: column; 
  width: 60%;
  font-size: 21px;
  margin: 0 auto;
}

.about .about-list {
  margin-left: 30px;
  list-style-type: disc;
}

.about li span {
  position: relative;
  left: 10px;
}

.about li {
  padding-bottom: 15px;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center; 
  width: 100%; 
}

.about .image-container {
  width: 30%; 
  height: 300px; 
  overflow: hidden; 
  margin-bottom: 20px; 
  padding-right: 20px;
}

.about .image-container img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  object-position: center; 
}

.text-container {
  width: 70%;
  flex-grow: 1;
  margin-bottom: 20px; 
}

@media screen and (max-width: 768px) {
  .about {
    width: 95%; 
    font-size: 18px; 
  }

  .about-content {
    flex-direction: column; 
    text-align: center;
  }

  .about .image-container {
    width: 90%;
    height: 350px; 
    margin-bottom: 40px;
    padding-right: 0;
  }

  .about .about-list {
    margin-left: 0;
    list-style-type: none;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }

  .about .about-list li {
    margin-bottom: 10px; 
  }
  .about li span {
    left: 0px;
  }
}

/* PROJECTS SECTION */

.projects {
}

.project-grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.project-card {
  width: 100%;
  max-width: 600px; 
  margin: 0 auto;
}

.project-card h4 {
  margin: 0;
  transition: color 0.3s ease;
  text-align: center;
}

.project-details {
  margin-top: 10px;
  overflow: hidden;
}

.project-details p {
  margin: 5px 0;
  text-align: center;
}

.project-details a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; 
  text-decoration: none;
}

.project-links {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.project-link svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
  transition: transform 0.3s ease;
}

.project-link:hover svg {
  transform: scale(1.1);
}

.project-details a:hover {
  text-decoration: underline;
} 

/* RESUME */
.resume {
}

.resume-content {
  margin-top: 20px;
}

/* Mobile View */
@media screen and (max-width: 768px) {
  .resume-content {
    width: 90%;  /* Ensure it's not too wide */
    margin: 0 auto;
  }

  .resume-content embed {
    width: 100% !important; /* Make the object tag responsive */
    height: 400px; /* Adjust the height on mobile */
  }

  .resume .tagline {
    font-size: 40px;
  }
}

/* CONTACT */

.contact input, .contact textarea {
  color: black;
}

.contact p {
  text-align: center;
}

.contact .contact-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  width: 90%;
}

.contact .form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.contact .input-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.contact .input-row input {
  flex: 1; /* Make both inputs equal width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact textarea {
  width: 100%;
  min-height: 120px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.contact button {
  padding: 10px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-style: italic;
}

.contact .button {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .contact .contact-container {
    max-width: 100%;
    padding: 10px;
  }

  .contact .input-row {
    flex-direction: column; /* Stack inputs on smaller screens */
    gap: 10px;

  }
}

.logo {
  height: 50px;
}

footer {
  padding-bottom: 0px !important;
}